<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Gerenciamento da academia</title>
        {% endblock %}
        
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/assets/img/Icons/favicon.png">

    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Instrutores</a>
                <a href="/members">Membros</a>
            </div>
        </header>

        {% block content %}

        

        {% endblock %}
       
    </body>
</html>